@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Suggest a Restaurant!";
}

@model Assignment_4.Models.RestaurantSuggestions

<header>
    <h1>@ViewBag.Title</h1>
</header>
<div>
    <form class="form-group" method="post" asp-action="Suggestion">
        <label asp-for="Name">Your Name:</label>
        <input asp-for="Name" />
        <br />

        <label asp-for="ResturantName">Restaurant Name:</label>
        <input asp-for="ResturantName" />
        <br />

        <label asp-for="FavoriteDish">Favorite Dish:</label>
        <input asp-for="FavoriteDish" />
        <br />

        <label asp-for="RestaurantPhone">Restaurant Phone Number:</label>
        <input asp-for="RestaurantPhone"/>
        <br />

        <input type="submit" value="Suggest A Restaurant!"/>
        <div asp-validation-summary="All"></div>
    </form>
</div>