@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Users Favorite Restaurants";
}


<div>
    <h2>Here is the list of the Users Favorite Restaurants!</h2>

    <table>
        <thead>
            <tr><th>Name of User</th><th>Restaurant Name</th><th>Favorite Dish</th><th>Restaurant Phone Number</th></tr>
        </thead>

        <tbody>
            @foreach (Assignment_4.Models.RestaurantSuggestions r in Model)
            {
                
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.ResturantName</td>
                        <td>@r.FavoriteDish</td>
                        <td>@r.RestaurantPhone</td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
